<button (click)="createButtonClicked()">Create</button>
<input #filterField placeholder="Search" type="text" name="searchField" (keyup)="filterData($event)" 
    *ngIf="hasFilter">
<h2>{{listTitle}}</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr *ngFor="let item of data">
        <td>
            <a href="javascript:" (click)="editItem(item)">{{item.id}}</a>
        </td>
        <td>{{item.name}}</td>
    </tr>
</table>
<div *ngIf="hasPagination">
    <button (click)="navigateToPage('first')" [disabled]="currentPage === 0">First</button>
    <button (click)="navigateToPage('prev')" [disabled]="currentPage === 0">Prev</button>
    <button (click)="navigateToPage('next')" [disabled]="currentPage == lastPageNumber">Next</button>
    <button (click)="navigateToPage('last')" [disabled]="currentPage == lastPageNumber">Last</button>
</div>
